{'tensorflow': '2.10.0', 'opencv-python': '4.6.0.30', 'numpy': '1.23.5', 'pandas': '1.4.3', 'scikit-learn': '1.1.2', 'matplotlib': '3.5.1', 'seaborn': '0.12.1', 'efficientnet': '0.8.1', 'pillow': '9.2.0', 'google-auth': '2.10.0', 'google-auth-oauthlib': '0.4.6', 'google-auth-httplib2': '0.22.0', 'google-colab': '2.0.0'}